@model MyUtilities.Models.StringExtensionModel
<h3>
    <a asp-area="" asp-controller="String" asp-action="Method" asp-route-name="@Model.Name">@Model.Name</a>
</h3>
<figure class="highlight">
<pre><code class="language-html" data-lang="html"><span>@Model.SourceCode</span></code></pre>
</figure>